
.dashed-border{
    border: 2px dashed blue;
}

header{
    height: 80px;
}

a{
    text-decoration: none;
    color: white;
}

.line-star{
    display: inline-block;
    height: 4px;
    width: 10%;
    background-color: white;
}

.line-star-gray{
    display: inline-block;
    height: 4px;
    width: 10%;
    background-color: #2C3E50;
}


/*---------------------
  BACKGROUND and COLORS
-----------------------*/
.bg-acquagreen{
    background-color: #1ABC9C;
}

.bg-newgray{
    background-color: #2C3E50;
}

.text-newgray{
    color: #2C3E50 ;
}


/*-------------------
      SECTIONS
--------------------*/
#Contact .form-style{
    border-width: 0 0 1px 0;
    
}

