
.dashed-border{
    border: 2px dashed blue;
}

header{
    height: 80px;
}

a{
    text-decoration: none;
    color: white;
}

.line-star{
    display: inline-block;
    height: 4px;
    width: 15%;
    background-color: white;
}

.line-star-gray{
    display: inline-block;
    height: 4px;
    width: 15%;
    background-color: #2C3E50;
}


/*---------------------
  BACKGROUND and COLORS
-----------------------*/
.bg-acquagreen{
    background-color: #1ABC9C;
}

.bg-newgray{
    background-color: #2C3E50;
}

.bg-newligthgray{

}

.text-newgray{
    color: #2C3E50 ;
}


.btn.btn-acquagreen{
    background-color: #1ABC9C;
    color: white;
}


/*-------------------
      SECTIONS
--------------------*/
#Contact .form-control{
    border-width: 0 0 1px 0;
    border-color: gray;
    border-radius: 0;
}

#bottom-footer{
    height: 60px;
}