
.dashed-border{
    border: 2px dashed blue;
}

header{
    height: 80px;
    background-color: #2C3E50;
}

a{
    text-decoration: none;
    color: white;
}

.btn.btn-green{
    color: white;
    background-color: #1ABC9C;
}

/*-------------------
      SECTIONS
--------------------*/
#Start{
    background-color: #1ABC9C;
    height: 400px;
}

#Portfolio{
    height: 1000px;
}

#About{
    height: 400px;
    background-color: #1ABC9C;
}

#Contact{
    height: 600px;
    color: #2C3E50;
}